
/* <<<BASE>>>  - defaults*/
/* Default Font Sizes */

h1 { font-size: 2.2em; } 
h2 { font-size: 2.0em; } 
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; } 
h5 { font-size: 1.4em; } 
p { 
	font-size: 1.2em; 
}


/* Default Form Layout */
input.text { 
 padding: 3px; 
 border: 1px solid #999999;     
}


/* Default Table Reset */
table {  
 border-spacing: 0; 
 border-collapse: collapse; 
} 

td{ 
 text-align: left; 
 font-weight: normal; 
}

/* Reset Default Padding & Margin */
* { 
 margin: 8; 
 padding: 5; 
 border: 0; 
}

section { 
    display: block;
}

/* <<<LAYOUT>>> - #IDs DIVs, Element specificity */
#site_container {  
 height: auto;
 margin-left: auto;  
 margin-right: auto;  
 /*text-align: left; */  
 width: 800px;  
 margin-top: 11px;
 margin-bottom: 21px;
 /*border: 3px solid red;*/
}


#header {
	height: auto;
	background-color: #C7CB8A;
	padding-left: 10px;
	}

#menu {
	height: 60px;
	background-color: #B6C955;
	}

#sidebar {
	height: 2704px;
	width: 150px;
	background-color: beige;
	float: left;
}

#main {
	height: auto;
	width: 650px;
	background-color: beige;
	float: right
	}

#footer{
	height: 100px;
	background-color: #ccc;
	clear: both;
}

#header_photos {
	height: auto; 
    width: auto; 
    max-width: 160px; 
    max-height: 140px
    border: 4px solid #FF0000;
	border-radius: 5px;
}

h1 p{
    text-transform: uppercase;
    font-family: impact;
    color: Red;
}

#unhide-all-img{
	display: none;
}



/* <<<MODULE>>> - reuseable components, NO IDs, just .classes only*/
/* navbar coding ----->start */
.navbar{
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

.navbar {
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar li a {
  background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    box-shadow: 10px 10px 5px #888888;
}

.navbar li a:hover {
    background-color: orange;
     transition: background-color 01s ease;
}
/* navbar coding ----->end */

 .photo_container {
   position: absolute;
    clip: rect(0px,100px, 100px,0px);

}

.default {
font-fmaily: impact;
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
	border: 3px solid red;
}

.highlight-paragraph{
	border: 4px solid #FF0000;
}

.highlight-listitems{
	border: solid 1px #006600;
	background: #ffff00;
}

/* <<<STATE>>> - rules override all other styles*/
/* <<<THEME>>>  - choosing different appearances or skins */



